{% extends "master.html" %}
{% block title %} Breakfastclub Sign Up {% endblock %}
{% block body %}
<h1>Sign up for the breakfast club</h1>
{% if form.name.errors %}
{% for error in form.name.errors %}
Name: {{ error }}<br>
{% endfor %}
{% endif %}
{% if form.email.errors %}
{% for error in form.email.errors %}
Email: {{ error }}<br>
{% endfor %}
{% endif %}
<form method="post" name="form"> {{ form.csrf_token }}
  Name: {{ form.name(required=True) }}
  <br><br>
  Email: {{ form.email(required=True) }}
  <br><br>
  <input type="submit" value="Sign Up">
</form>
{% endblock %}
