{% extends "master.html" %}
{% block title %}Generate New Breadlist{% endblock %}
{% block body %}
<h1>Generate New Breadlist</h1>
<a href="{{ url_for('breadlist_management') }}">Breadlist Management</a><br><br>
{% if form.data.errors %}
{{ form.data.errors }}
{% endif %}
<form method="post"> {{ form.csrf_token }}
  {{ form.data }}
<table class="breakfastlist">
  <tr>
    <th>Dato</th>
    <th>Navn</th>
  </tr>
  {% for bringer in form.new_bringers %}
  <tr>
    <td>{{ bringer.date }}</td>
    <td>{{ bringer.person.name }}</td>
  </tr>
  {% endfor %}
  <tr><td colspan=2><hr></td></tr>
  {% for breadbringer in breadbringers %}
  {% if breadbringer.is_next %}
  <tr class="next_bringer">
    {% else %}
  <tr class="bringer">
  {% endif %}
    <td>{{ breadbringer.date }}</td>
    <td>{{ breadbringer.person.name }}</td>
  </tr>
  {% endfor %}
</table>
<input type="submit" value="Accept List">
<input type="button" value="Shuffle" onclick="window.location = '?s=1';">
</form>
{% endblock %}
