tr.next_bringer {
    font-weight: bold;
}

tr.bringer {

}

td.checkbox {
    text-align: center;
}

.token_management {
    border-collapse: collapse;
    width: 100%;
}

.token_management tr:nth-child(odd) {
    background-color: white;
}

.token_management tr {
    background-color: #DDDDDD;
    border-spacing: 0px;
}

.token_management th {
    font-size: 10pt;
}
.token_management td {
    padding: 4px;
    border-spacing: 0px;
    font-size: 10pt;
}

div.body {
    margin: auto;
    width: 90%;
}

table.breakfastlist {
    width: 30%;
}

table.breakfastlist td:nth-child(1){
    width: 90px;
}

.breakfastlist th {
    text-align: left;
}

table.personlist {
    width: 80%;
}

.personlist .name {
    width: 30%;
}
